/data
todo_list_project/public/js/app.js
todo_list_project/public/fonts/vendor/material-design-icons-icondist/MaterialIcons-Regular.eot
todo_list_project/public/fonts/vendor/material-design-icons-icondist/MaterialIcons-Regular.woff
todo_list_project/public/fonts/vendor/material-design-icons-icondist/MaterialIcons-Regular.ttf
todo_list_project/public/fonts/vendor/material-design-icons-icondist/MaterialIcons-Regular.woff2

